@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 2em;
}

/* Navigation styles */
nav {
  background-color: #eee;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Section styles */
section {
  padding: 50px 0;
}

section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.image {
  width: 120px;
  height: 120px;
  margin-top: 5px;
  border-radius: 60px;
}

.list-item {
  margin-left: 15px;
}

.para {
  margin-top: 10px;
}
